name: Build

on:
  push:
  pull_request:

jobs:
  build-ubuntu:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install dependencies
        run: |
          sudo apt-get update -y -qq
          sudo apt-get install coreutils build-essential libssl-dev zlib1g-dev # libcrypto-dev

      - name: Build
        run: |
          ./build-native.sh
